/*content*/ 
.content.flex{
	padding-bottom: 30px;
	position: relative;
	height: calc(100vh - 120px);
	overflow: hidden;
	z-index: 2;
}


.content__body{
	width: 75%;	
}


.content__aside{
	.popup{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}
}
.popup{
	border-top: 3px solid var(--blue);
	background-color: #fff;
	box-shadow: inset 0 0 10px rgba(#000, .05);
	transition: all .3s;
	z-index: 3;
	&--main{
		width: 90%;
		max-width: 420px;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(calc(-50% + 100px), -100%);
		opacity: 0;
		visibility: hidden;
		z-index: 10;
		&.active{
			opacity: 1;
			visibility: visible;
			transform: translate(calc(-50% + 100px), -50%);
		}
	}
}
.aside-popup{
	transform: translateX(-100%);
	visibility: hidden;
	&.active{
		transform: translateX(0);
		visibility: visible;
	}
}
.popup__top{
	height: 4.375rem;
	background:transparent url('../img/popup_bg.png') center top no-repeat;
	background-size: cover;
	position: relative;
}
.popup__top__img{
	width: 30px;
	height: 30px;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	img{
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}
.close{
	position: absolute;
	top: 15px;
	right: 20px;
	width: 12px;
	height: 12px;
	background:transparent url('../img/close.svg') left top no-repeat;
	background-size: contain;
}
.popup__content{
	padding: .625em 1.25em 1.25em;
}
.popup__title{
	text-align: center;
	font-family: "Futura", sans-serif;
	font-size: .9375rem;
	text-transform: uppercase;
	font-weight: 500;
	line-height: 1.3;
	margin-bottom: .6em;
}
.notice{
	color: #8f8f8f;
	font-size: .875rem;
	font-weight: 300;
	text-align: center;
	margin-bottom: 1.3em;
	line-height: 1.3;
	b{
		color: #2a2a2a;
		display: block;
	}
}

.popup__content{
	.input-wrapper{
		margin-bottom: 1.25em;
		span{
			display: block;
			text-align: center;
			font-size: .8125rem;
			text-transform: uppercase;
			letter-spacing: 0.33px;
			color: #000;
			font-weight: 400;
		}
	}
	.input{
		border: none;
		text-align: center;
		padding: 0 1em;
		font-weight: 400;
		text-transform: initial;
		&--border{
			border-bottom: 2px solid #a2a2a2;
		}
	}
	::-webkit-input-placeholder {font-size: 13px;text-transform: initial;font-family: "Futura", sans-serif;font-weight: 300;letter-spacing: 1.3px;  }
::-moz-placeholder          {font-size: 13px;text-transform: initial;font-family: "Futura", sans-serif;font-weight: 300;letter-spacing: 1.3px;  } /* Firefox 19+ */
:-moz-placeholder           {font-size: 13px;text-transform: initial;font-family: "Futura", sans-serif;font-weight: 300;letter-spacing: 1.3px;  } /* Firefox 18- */
:-ms-input-placeholder      {font-size: 13px;text-transform: initial;font-family: "Futura", sans-serif;font-weight: 300;letter-spacing: 1.3px;  }


}
.models-slider-wrapper{
	position: relative;
	height: 100%;
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.models-slider,
.models-slider__item,
.models-slider .slick-list,
.models-slider .slick-track{
	height: 100%;
}

.models-slider__nav__wrapper{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	.gallery-block__line{
		background-color: rgba(#000, .8);
		position: relative;
		bottom: auto;
		top: 0;
		height: 2.6rem;
		cursor: pointer;
		&::after{
			animation: none;
			transform: rotate(-135deg) translate(0%, 30%);
			transition: transform .3s;
		}
		&:hover{
			background-color: rgba(#000, .85);
		}
	}
	&.active{
		.models-slider__nav__container{
			
		}
		.gallery-block__line{
			&::after{
				transform: rotate(45deg) translate(-50%, -50%);
			}
		}
	}
}
.models-slider__nav__container{
	background-color: rgba(#000, .85);
}
.models-slider__nav{
	.slick-list{
		width: calc(100% - 10em);
		margin: 0 auto;
	}
	.slick-arrow{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;
		z-index: 3;
		&.slick-disabled{
			opacity: 0;
		}
	}
	.prev-slide{
		left: 0;
	}
	.next-slide{
		right: 0;
	}
}
.models-slider__nav__item{
	height: 13em;
	padding: 0 2px;
	position: relative;
	&.add-new-slide{
		width: 90px !important;

	}
	&.slick-current{
		.models-slider__nav__content{
			&::after{
				opacity: 0;
			}
			.models-slider__nav__descr{
				opacity: 1;
			}
		}
	}
}
.add-new-slide__btn{
	width: 100%;
	height: 100%;
	border: 2px solid #5c5c5c;
	transition: all .3s;
	&:hover{
		border-color: #fff;
		label{
			color: #fff;
		}
	}
}
.add-new-slide__btn {
	input{
		display: none;
	}
	label{
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #5c5c5c;
		cursor: pointer;
		transition: all .3s;
		svg{
			width: 20px;
			height: 20px;
		}
	}
}






