/*custom*/
svg{
	vertical-align: top;
} 
a{
	color: var(--black);
	transition: all .3s;
	&:hover{
		text-decoration: none;
	}
}
ul{
	margin-bottom: 0;
}
.page-item.disabled .page-link,
.form-control{
	border: 1px solid #e1e1e1;
}
.form-control{
	min-height: 30px;
	font-size: 16px;
}

.page-item.active .page-link{
	background-color: var(--blue);
	border-color: var(--blue);
}
.dataTables_info{
	padding-top: 6px;
}
.dataTables_length,
.dataTables_filter{
	margin-bottom: 10px;
	font-family: 'Futura', sans-serif;
	font-weight: 500;
	label{
		display: inline-flex;
		align-items: center;
	}
	select{
		margin: 0 10px;
		outline: none;
	}
	input{
		margin: 0 10px;
	}
}