/*dashboard*/ 
.dashboard__content{
	flex-grow: 1;
	height: 100%;
	margin-right: 30px;
	background-color: #f5f6fa;
	padding: 30px;
	font-size: 13px;
	font-family: 'Futura', sans-serif;
	font-weight: 500;
}
.dashboard__body{
	padding: 25px;
	border-radius: 20px;
}
.white-box{
	border-radius: 20px;
	background-color: #fff;
	height: 100%;
	width: 100%;
}
.dashboard__top{
	margin-bottom: 20px;
	.select-block{
		margin-left: 20px;
	}
	.square-btn{
		margin: 0 0 0 10px;
	}
	.btn{
		margin-left: 10px;
	}
	.h4{
		color: #173e55;
	}
}

.dashboard-table{
	font-family: 'Futura', sans-serif;
	color: #10263c;
	border: 1px solid #f0f2f6;
	b{
		font-weight: 900;
	}
	.ico{
		display: inline-block;
		width: 20px;
		height: 20px;
		svg{
			width: 100%;
			height: 100%;

		}
	}
	.btn-group{
		opacity: .6;
	}
	tr:hover{
		.btn-group{
			opacity: 1;
		}
	}
}
.dashboard-table__header{
	.dashboard-table__row{
		background-color: #f9fafd;
		
	}
}
.dashboard-table__row{
	border-radius: 3px;
	position: relative;
}
.dashboard-table__item{
	&--action{
	}
	.ico{
		display: inline-block;
		flex: none;
		width: 20px;
		height: 20px;
		svg{
			width: 100%;
			height: 100%;
		}
	}
	.submenu-block{
		padding: 0;
		margin-left: 30px;
		.submenu{
			left: calc(100% + 10px);
		}
	}
	.submenu-dots .ico{
		opacity: 1;
		width: 4px;
		visibility: visible;
	}

}



.progress-bar-container{
	display: inline-flex;
	flex-direction: column;
	min-width: 150px;
	.text{
		white-space: nowrap;
	}
	.progress-bar{
		width: 100%;
		height: 2px;
		background-color: #d4d4d4;
		border-radius: 3px;
		margin-top: 4px;
		position: relative;
		.progress-bar__line{
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			border-radius: 3px;
			background-color: #68f9b0;
			&.red-bg{
				background-color: #f53c61;
			}
		}
	}
}
.status{
	display: flex;
	align-items: center;
	&::before{
		content: '';
		flex: none;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		margin-right: 5px;
	}
	&--green{
		color: #297750;
		&::before{
			background-color: #68f9b0;
		}
	}
	&--red{
		color: #c22e4c;
		&::before{
			background-color: #f53c61;
		}
	}
	&--all{
		color: #173e55;
		padding-left: 7px;
		position: relative;
		&::before{
			background-color: #f53c61;
		}
		&::after{
			content: '';
			flex: none;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			margin-right: 5px;
			background-color: #68f9b0;
			position: absolute;
			left: 0;
			top: 2;
		}
	}
}
.dashboard-table__footer{
	box-shadow: 0 0 5px rgba(206, 207, 211, 0.33);
	border-radius: 3px;
	background-color: #f9f9f9;
	padding: 10px 20px;
	text-align: center;
	position: relative;
	.btn{
		font-size: 12px;
		font-family: 'Futura', sans-serif;
	}
}

.table th, .table td{
	vertical-align: middle;
	border-top: none;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	border-top: none;
}
table.dataTable{
	border-collapse: collapse !important; 
}
table.dataTable tbody th:not(.child), table.dataTable tbody td:not(.child){
	padding: 25px 20px;
	border-bottom: 1px solid #f0f2f6;
}
table.dataTable thead th, table.dataTable thead td{
	padding: 20px;
	border-bottom: 1px solid #f0f2f6;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 0.12px;
	color: #173e55;
	font-size: 13px;
}
table.dataTable.no-footer{
	border-bottom: none;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after{
	content: '';
	width: 8px;
	height: 4px;
	right: 10px;
	top: 50%;
	margin-top: -2px;
	background:transparent url('../img/select_arrow.svg') left top no-repeat;
	background-size: contain;
}
table.dataTable thead .sorting_asc:after{
	content: '';
	width: 8px;
	height: 4px;
	right: 10px;
	top: 50%;
	margin-top: -2px;
	background:transparent url('../img/select_arrow.svg') left top no-repeat;
	transform: rotate(180deg);
}

.dtr-details{
	width: 100%;
}
table.dataTable td.child{
	background-color: #fff;
	padding: 25px 10px;
}

#dashboard-table_filter,
#dashboard-table_length,
table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before{
	display: none;
}
#dashboard-table_wrapper .row{
	width: 100%;
}
#dashboard-table_paginate{
	.pagination{
		display: flex;
		justify-content: flex-end;
		margin-top: 10px;
	}
}
table.dataTable td.child{
	padding: 15px 10px;
}
.dtr-details{
	& > li{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 0 !important;
	}
	.submenu-dots .ico{
		visibility: visible;
		opacity: 1;
	}
	.progress-bar-container{
		min-width: 110px;
		font-size: 10px;
	}
	.submenu-block{
		padding: 0 0 0 10px;
	}
	.submenu-block .submenu{
		padding: 10px;
	}
}
#dashboard-table_wrapper > .row{
	margin: 0;
	.col-sm-12{
		padding: 0;
	}
}
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child{
	position: static;
}
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before{
	top: auto;
	right: 25px;
	left: auto;
	width: 18px;
	height: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	box-shadow: none;
	line-height: 1;
	background-color: #80c0e7;
}
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before{
	background-color: #2ea0ff;
}
table.dataTable tbody th:not(.child), table.dataTable tbody td:not(.child){
	padding: 25px 30px 25px 20px;
}

