/*dashboard*/ 
.dashboard__content{
	flex-grow: 1;
	margin-right: 30px;
	background-color: #f5f6fa;
	padding: 30px;
	font-size: 13px;
	font-family: 'Futura', sans-serif;
	font-weight: 500;
}
.white-box{
	border-radius: 20px;
	background-color: #fff;
	height: 100%;
	width: 100%;
}
.dashboard__top{
	margin-bottom: 20px;
	.select-block{
		margin-left: 20px;
	}
	.square-btn{
		margin: 0 0 0 10px;
	}
	.btn{
		margin-left: 10px;
	}
	.h4{
		color: #173e55;
	}
}

.dashboard-table{
	font-family: 'Futura', sans-serif;
	color: #10263c;
	b{
		font-weight: 900;
	}
}
.dashboard-table__header{
	.dashboard-table__row{
		box-shadow: 0 0 5px rgba(206, 207, 211, 0.33);
		padding: 20px;
		background-color: #f9f9f9;
		.h5{
			font-weight: 900;
			text-transform: uppercase;
			letter-spacing: 0.12px;
			color: #173e55;
		}
	}
}
.dashboard-table__row{
	display: flex;
	border-radius: 3px;
}
.dashboard-table__item{
	flex-grow: 1;
	&--action{
		flex: 0 0 110px;
		display: flex;
	}
	.ico{
		display: inline-block;
		flex: none;
		width: 20px;
		height: 20px;
		svg{
			width: 100%;
			height: 100%;
		}
	}
	.submenu-block{
		padding: 0;
		margin-left: 30px;
		.submenu{
			left: calc(100% + 10px);
		}
	}
	.submenu-dots .ico{
		opacity: 1;
		width: 4px;
		visibility: visible;
	}

}
.dashboard-table__body{
	.dashboard-table__row{
		background-color: #fff;
		margin-bottom: 5px;
		padding: 35px 20px;
	}
}


.progress-bar-container{
	display: inline-flex;
	flex-direction: column;
	.progress-bar{
		width: 100%;
		height: 2px;
		background-color: #d4d4d4;
		border-radius: 3px;
		margin-top: 4px;
		position: relative;
		.progress-bar__line{
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			border-radius: 3px;
			background-color: #68f9b0;
			&.red-bg{
				background-color: #f53c61;
			}
		}
	}
}
.status{
	display: flex;
	align-items: center;
	&::before{
		content: '';
		flex: none;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		margin-right: 5px;
	}
	&--green{
		color: #297750;
		&::before{
			background-color: #68f9b0;
		}
	}
	&--red{
		color: #c22e4c;
		&::before{
			background-color: #f53c61;
		}
	}
	&--all{
		color: #173e55;
		padding-left: 7px;
		position: relative;
		&::before{
			background-color: #f53c61;
		}
		&::after{
			content: '';
			flex: none;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			margin-right: 5px;
			background-color: #68f9b0;
			position: absolute;
			left: 0;
			top: 2;
		}
	}
}
.dashboard-table__footer{
	box-shadow: 0 0 5px rgba(206, 207, 211, 0.33);
	border-radius: 3px;
	background-color: #f9f9f9;
	padding: 10px 20px;
	text-align: center;
	position: relative;
	.btn{
		font-size: 12px;
		font-family: 'Futura', sans-serif;
	}
}
.dashboard-table__paginator{
	font-family: 'Futura', sans-serif;
	font-weight: 500;
	font-size: 11px;
	position: absolute;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
	.btn{
		font-weight: 500;
	}
}
.dashboard-table__paginator__title{
	color: #8992ab;
}










