@font-face {
	font-family: "FuturaCn";
	src: url("../font/FuturaPT/FuturaBT-MediumCondensed.woff") format("woff");
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: "Futura";
	src: url("../font/FuturaPT/FuturaBT-Heavy.woff") format("woff");
	font-style: normal;
	font-weight: 800;
}
@font-face {
	font-family: "Futura";
	src: url("../font/FuturaPT/FuturaBT-Medium.woff") format("woff");
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: "Futura";
	src: url("../font/FuturaPT/FuturaBT-Light.woff") format("woff");
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: "Proxima";
	src: url("../font/Proxima/proxima_nova_extrabold.woff") format("woff");
	font-style: normal;
	font-weight: 800;
}
@font-face {
	font-family: "Proxima";
	src: url("../font/Proxima/proxima_nova_bold.woff") format("woff");
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: "Proxima";
	src: url("../font/Proxima/proxima_nova_semibold.woff") format("woff");
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: "Proxima";
	src: url("../font/Proxima/ProximaRegular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Lato";
	src: url("../font/Lato/Lato-Black.woff") format("woff");
	font-style: normal;
	font-weight: 900;
}

@font-face {
	font-family: "Lato";
	src: url("../font/Lato/Lato-Bold.woff") format("woff");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "Lato";
	src: url("../font/Lato/Lato-Regular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: "Lato";
	src: url("../font/Lato/Lato-Light.woff") format("woff");
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: "Aspira";
	src: url("../font/Aspira/AspiraWideW01-Bold.woff") format("woff");
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: "Aspira";
	src: url("../font/Aspira/AspiraWide-Thin.woff") format("woff");
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: "Aspira";
	src: url("../font/Aspira/Aspira-Thin.woff") format("woff");
	font-style: normal;
	font-weight: 300;
}

