/*Header*/ 
.header{
	padding: 0 35px 0 20px;
	transition: all .5s;
	.burger{
		padding: 3.5em 0;
		&.active{
			width: 20px;
			padding: 17px 0;
			&:hover{
				span{
					width: 100% !important;
				}
			}
			span{
				background-color: var(--blue);
				width: 100%;
				&:nth-child(2){
					opacity: 0;
				}
				&:first-child{
					transform: rotate(45deg) translate(6px, 7px);
				}
				&:last-child{
					transform: rotate(-45deg) translate(5.5px, -6.5px);
				}
			}
		}
	}
}
.min-header{
	
	.header__options{
		padding-top: 0;
		padding-bottom: 0;
	}
	.menu a {
		.text{
			font-size: 0;
			margin-top: 0;
		}
	}
}
.nav{
	padding-left: 7.8rem;
}
.logo{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	img{
		width: 32px;
		height: 32px;
		object-fit: contain;
	}
}
.menu{
	li{
		padding: 0 20px;
		margin-right: 1px;
		display: flex;
		align-items: center;
	}
	a.add-theme{
		color: var(--blue);
		&:hover{
			color: #fff;
		}
		svg{
			width: 12px;
			height: 12px;
		}
	}
}
.menu-item{
	text-align: center;
	font-family: 'Futura', sans-serif;
	font-size: 9px;
	text-transform: uppercase;
	color: #767877;
	letter-spacing: 1.8px;
	&:hover,
	&.active{
		color: var(--blue);
	}
	span{
		display: block;
	}
	.ico{
		height: 24px;
		img{
			height: 100%;
		}
	}
	.text{
		margin-top: 11px;
		transition: all .3s;
	}
}


.burger{
	display: block;
	width: 40px;
	position: relative;
	z-index: 2;
	cursor: pointer;
	transition: all .4s;
	&:hover{
		span{
			background-color: var(--blue);
			&:first-child{
				width: 100%;
			}
			&:nth-child(2){
				width: 75%;
			}
			&:nth-child(3){
				width: 50%;
			}
		}
	}
	span{
		display: block;
		width: 100%;
		height: 2px;
		background-color: #000;
		border-radius: 3px;
		transition: all .5s;
		&:not(:last-child){
			margin-bottom: 7px;
		}
		&:first-child{
			width: 50%;
		}
		&:last-child{
			width: 80%;
		}
	}
	&.active{
		transform: rotate(90deg);
		width: 30px;
	}
}

.header__options{
	padding: 1.6rem 0 1.6rem 2rem;
	transition: all .5s;
	&--none-border{
		border-left: none;
	}
	& > li{
		padding: 0 2rem;
		position: relative;
		&:last-child{
			padding-right: 0;
		}
		&.logout-container{
			padding-left: 6em;
		}
		a{
			&.active,
			&:hover{
				color: var(--blue);
			}
		}
		svg{
			width: 24px;
			height: 24px;
		}
		.dots-svg{
			width: 4px;
		}
	}
	.header-close{
		display: flex;
		align-items: center;
		justify-content: center;
		padding-left: 2em;
		position: relative;
		&::before{
			content: '';
			width: 1px;
			height: 5em;
			background-color: #cfcdcd;
			position: absolute;
			left: -1em;
			top: -1.5em;
		}
		svg{
			width: 18px;
			height: 18px;
		}
	}
}
.logout{
	display: flex;
	position: relative;
	&::before{
		content: '';
		width: 1px;
		height: 5.2em;
		background-color: #cfcdcd;
		position: absolute;
		left: -4em;
		top: -1.5em;
	}
}
.bell{
	.count{
		font-family: 'Futura', sans-serif;
		font-size: 9px;
		text-transform: uppercase;
		line-height: 1;
		color: #fff;
		font-weight: 500;
		width: 17px;
		height: 17px;
		border-radius: 50%;
		background-color: #5289ff;
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		top: 0;
		right: 2rem;
		transform: translate(25%, -25%);
	}
}
.view-type{
	display: flex;
	overflow: hidden;
	a{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 47px;
		height: 40px;
		border: 1px solid #cfcdcd;
		&.active{
			background-color: var(--blue);
			color: #fff !important;
			border-color: var(--blue);
		}
		&:first-child{
			border-right: none;
			border-radius: 10px 0 0 10px;
		}
		&:last-child{
			border-radius: 0 10px 10px 0;
		}
	}
}
.dropdown{
	position: absolute;
	top: calc(100% + 17px);
	right: -15px;
	width: 130px;
	text-align: center;
	font-size: 1.2rem;
	letter-spacing: 0.29px;
	font-weight: 600;
	text-transform: uppercase;
	background-color: #fff;
	padding: 1.25em 0;
	box-shadow: 0 0 13px rgba(98, 93, 93, 0.54);
	transform: translateY(20%);
	opacity: 0;
	visibility: hidden;
	z-index: 10;
	transition: all .3s;
	&::before{
		content: '';
		width: 0;
		height: 0;
		border: 6px solid transparent;
		border-bottom-color: #fff;
		position: absolute;
		bottom: 100%;
		right: 11px;
	}
	&.active{
		transform: translateY(0);
		opacity: 1;
		visibility: visible;
	}
	li{
		
		a{
			display: block;
			padding: 1.25em .7em;
			&:hover{
				background-color: var(--blue);
				color: #fff;
			}
		}
	}
}

.user{
	display: flex;
	align-items: center;
	font-size: 12px;
	font-weight: 600;
	color: #8e8e8e;
	letter-spacing: 0.29px;
	cursor: pointer;
	&.active{
		.user-avatar{
			box-shadow: 0 0 13px rgba(98, 93, 93, 0.54);
		}
	}
}
.user__text{
	padding-right: 15px;
}
.user-nick{
	color: var(--black);
}
.user-avatar{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	position: relative;

	img{
		width: 40px;
		height: 40px;
		border-radius: 50%;
		transition: filter .3s;
	}
	.status{
		width: 12px;
		height: 12px;
		border-radius: 50%;
		border: 2px solid #fff;
		position: absolute;
		right: 0;
		bottom: 0;
		&--online{
			background-color: #00de54;
		}
		&--offline{
			background-color: var(--border-color);
		}
	}
}


.js-dropdown{
	display: none;
}
.user-dropdown{
	position: absolute;
	width: 390px;
	top: calc(100% + 10px);
	right: 1em;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 13px rgba(98, 93, 93, 0.54);
	background: #fff url('../img/user-dropdown-bg.png') 100% 100% no-repeat;
	z-index: 5;
	&::before{
		content: '';
		width: 0;
		height: 0;
		border: 6px solid transparent;
		border-bottom: 5px solid #fff;
		position: absolute;
		bottom: 100%;
		right: 2.2em;
	}
}
.user-dropdown__item{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #cfcdcd;
}
.user-logo{
	flex: none;
	width: 32px;
	height: 32px;

	img{
		max-width: 100%;
	}
}
.user-title{
	flex-grow: 1;
	padding-left: 25px;
	font-family: 'Futura', sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	line-height: 1.3;
	span{
		display: block;
	}
	.blue{
		font-size: 9px;
		letter-spacing: 1.8px;
	}
	.lg{
		font-size: 16px;
		letter-spacing: 1.53px;	
	}
	.grey{
		font-size: 9px;
		color: #767877;
		letter-spacing: 1.8px;
	}
}
.user-ico{
	padding: 1em 0 1em 2em;
	margin-left: 2em;
	border-left: 1px solid #cfcdcd;
}

.user-dropdown__add{
	display: flex;
	width: 100%;
	height: 3em;
	align-items: center;
	justify-content: center;
	font-family: 'Futura', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.6px;
	transform: translateY(3px);
	.ico{
		width: 10px;
		height: 10px;
		flex: none;
		margin-right: 8px;
		margin-top: -1px;
		svg{
			width: 100%;
			height: 100%;
		}
	}
}

.settings-dropdown{
	position: absolute;
	width: 390px;
	background: #fff url('../img/settings_bg.png') 100% 0 no-repeat;
	right: .4em;
	top: calc(100% + 18px);
	border-radius: 10px;
	box-shadow: 0 0 13px rgba(98, 93, 93, 0.54);
	padding: 0px 10px 30px 0;
	z-index: 5;
	&::before{
		content: '';
		width: 0;
		height: 0;
		border: 5px solid transparent;
		border-bottom: 4px solid #fff;
		position: absolute;
		bottom: 100%;
		right: 2.2em;
	}
	.user-dropdown__item{
		border-bottom: none;
		padding: 20px;
		margin-bottom: 6px;
	}
	
}

.settings-dropdown__left{
	width: calc(100% - 210px);
	padding-right: 4em;
}
.settings-dropdown__item{
	position: relative;
	padding-bottom: 13px;
	margin-bottom: 13px;
	&::after{
		content: '';
		width: calc(100% - 20px);
		height: 1px;
		background-color: #cfcdcd;
		position: absolute;
		bottom: 0;
		left: 20px;
	}
}
.settings-dropdown__menu{
	li{
		a{
			display: block;
			font-size: 11px;
			font-family: 'Futura', sans-serif;
			text-transform: uppercase;
			color: #000;
			font-weight: 500;
			padding: 7px 8px 7px 20px;
			letter-spacing: 0.55px;
			&:hover{
				color: #fff;
				background-color: var(--blue);
			}
		}
	}
}
.social-block {
	padding-left: 20px;
	.social{
		margin-left: 5px;
		li{
			padding: 0 .2em;
		}
		.ico{
			display: block;
			width: 12px;
			height: 12px;
			svg{
				width: 100%;
				height: 100%;
			}
		}
	}
}
.social-block__title{
	font-family: 'Futura', sans-serif;
	text-transform: uppercase;
	font-size: 9px;
	color: #8f8f8f;
	letter-spacing: 0.45px;
	white-space: nowrap;
}
.settings-dropdown__right{
	flex: none;
	width: 210px;
	box-shadow: 0 0 13px rgba(98, 93, 93, 0.3);
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}