

@media(min-width: 2400px){
	.gallery li{
		width: 20%;
	}
	.models-slider__nav__item{
		height: 20em;
	}
}
@media(min-width: 3000px){
	.gallery li{
		width: 16.666%;
	}
}

@media(min-height: 1401px) {
	.tab-list{
		top: 33%;
	}
}

@media(min-height: 1100px) and (max-height: 1400px){
	.tab-list{
		top: 23%;
	}
}
 
@media(max-width: 1600px){

	.select-wrapper span{
		font-size: 11px;
		margin-right: 10px;
	}
	.select{
		width: 150px;
		height: 30px;
		font-size: 11px;
	}
	.select--sm{
		max-width: 105px;
		flex: 0 0 105px;
	}
	.filter-toggle{
		padding-left: 20px;
		padding-right: 20px;
	}
	.filter__search__btn label{
		height: 30px;
		width: 70px;
		font-size: 11px;
	}
	.filter__search{
		width: 220px;
	}
	.input{
		height: 30px;
		font-size: 12px;
		padding-right: 40px;
		padding-left: 10px;
	}
	.search-submit{
		height: 30px;
		width: 40px;
	}
	.search-submit .search-ico{
		width: 15px;
		height: 15px;
	}
	.filter-open .gallery-block__line{
		bottom: 80px;
	}
	.filter-line.active{
		padding: 20px 0 0 20px;
	}

	.nav{
		padding-left: 10px;
	}
	.theme-page{
		padding-left: 3.125rem;
		padding-right: 3.125rem;
		padding-bottom: 5rem;
	}
	.theme-slider .slick-list{
		padding-top: 3rem;
	}

	.theme__bottom{
		height: 5rem;
	}
	.tab-list{
		top: 20%;
	}
	.tab-list::after{
		width: 11.25rem;
	}
	.theme__title{
		font-size: 6rem;
	}
	.theme__subtitle{
		font-size: 1.4rem;
		letter-spacing: 2px;
	}
	.total-counter{
		margin-bottom: 1.5rem;
	}

	
	::-webkit-input-placeholder {font-size: 11px;  }
::-moz-placeholder          {font-size: 11px;  } /* Firefox 19+ */
:-moz-placeholder           {font-size: 11px;  } /* Firefox 18- */
:-ms-input-placeholder      {font-size: 11px;  }
	
	.aside__left{
		padding-left: 35px;
		width: 290px;
	}
	.management__content{
		width: calc(100% - 370px)
	}
	.add-new{
		margin-bottom: 50px;
		padding: 0 25px;
	}

	.management-page__bottom .filter-line.active, 
	.management-page__bottom .filter-line{
		padding: 20px 0 20px 25px;
	}
	.aside__menu{
		margin-bottom: 20px;
	}
	.aside__menu > li{
		margin-bottom: 10px;
	}

}

/*1600*/ 

@media(max-width: 1440px){
	html{
		font-size: 14px;
	}
}
@media(max-width: 1366px){
	.models-row{
		height: 100%;
	}
}
@media(max-width: 1360px){
	body{
		height: 100%;
	}
	.wrapper{
		height: 100%;
		overflow-x: hidden;
	}
	.header{
		.navbar{
			margin-left: 0 !important;
			padding-left: 0 !important;
		}
	}
	.user__text{
		display: none;
	}
	.header{
		.logo{
			margin-right: 0;
			width: 60px;
		}
	}

}
@media(max-width: 1240px){
	.header__left{
		.burger{
			position: relative;
			z-index: 30;
		}
	}
	.aside__left{
		width: 95%;
		max-width: 330px;
		position: fixed;
		left: 0;
		top: 0;
		height: 100vh;
		overflow-y: auto;
		overflow-x: hidden;
		transform: translateX(-100%);
		visibility: hidden;
		z-index: 25;
		transition: all .3s;
		&.active{
			transform: translateX(0);
			visibility: visible;
		}
		.menu{
			position: absolute;
			width: 70px;
			height: 100%;
			left: 0;
			top: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			background-color: #fff;
			box-shadow: 15px 0 60px rgba(16, 48, 70, 0.06);
			li{
				margin-bottom: 30px;
				a{
					width: 100%;
					height: 60px;
					&.active{
						background: linear-gradient(to right, #f6fbff 0%, #e9f6ff 100%);
					}
				}
			}
		}
	}
	.aside-menu-container{
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		margin-left: 50px;
	}
	.aside__left .slick-track,
	.aside__left .aside__menu .slick-list{
		height: auto !important;
	}
	.aside__left .aside__menu{
		margin-top: 40px;
	}
	.submenu-block .submenu{
		left: auto;
		right: 100%;
		&::after{
			left: 100%;
			transform: translateX(0);
			border-right-color: transparent;
			border-left: 7px solid #fff;
			display: none;
		}
	}
	
	.btn--lt{
		padding-top: 11px;
		padding-bottom: 9px;
	}
	
}
/*1240*/ 
@media(max-width: 991px){
	.dashboard__content__models{
		position: relative;
	}
	#model-data{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 10;

	}
	.models-list{
		padding: 0;
		
	}
	.models-row{
		height: calc(100% - 55px);
	}
	
}
/*991*/ 

@media(max-width: 767px){
	.body{
		height: auto;
	}
	.wrapper{
		display: block;
	}
	.user-dropdown{
		width: 250px;
		right: auto;
		left: 50%;
		transform: translateX(-50%);
		padding: 10px;
		&::before{
			right: 50%;
			transform: translateX(50%);
		}
	}
	.user-logo{
		width: 20px;
		height: 20px;
	}
	.user-title{
		padding-left: 0;
		font-size: 12px;
		width: 65%;
		flex-grow: 0;
		.lg{
			font-size: 13px;
		}
	}
	.user-ico{
		padding: 0;
		margin-left: 5px;
	}
	.user-title .grey{
		letter-spacing: inherit;
	}
	.user-dropdown__add{
		justify-content: flex-start;
	}
	.settings-dropdown{
		width: 250px;
		background-size: 40px;
	}
	.settings-dropdown .user-dropdown__item{
		padding: 10px;
	}
	.settings-dropdown__right{
		width: 40%;
	}
	.settings-dropdown__left{
		width: 60%;
		padding-right: 10px;
	}
	.dashboard__top .h4{
		margin-bottom: 20px !important;
	}
	.dashboard__content{
		padding: 15px !important;
	}
	.dashboard__body{
		padding: 15px;
		border-radius: 10px;
	}
	table.dataTable td{
		font-size: 15px;
	}
	table.dataTable tbody th:not(.child), table.dataTable tbody td:not(.child){
		padding-left: 15px !important;
		padding-right: 25px !important;
	}
	.dashboard__top .h4{
		font-size: 18px;
	}
	.dashboard-wrapper{
		padding-left: 0;
		padding-right: 0;
	}
	.dtr-details .progress-bar-container{
		font-size: 14px;
	}
	.parent{
		background-color: #f9fafd !important;
		td:first-child{
			color: var(--blue);
		}
		
	}
	table.dataTable>tbody>tr.child{
		padding: 0;
	}
	table.dataTable td.child{
		background-color: #f9fafd !important;
		padding: 10px 15px;
	}
	table.dataTable>tbody>tr.child ul.dtr-details>li,
	table.dataTable td.child{
		border-bottom: 1px solid #f0f2f6;
	}
	table.dataTable>tbody>tr.child .dtr-details > li{
		padding: 15px !important;
	}
	table.dataTable td{
		font-size: 17px;
	}
	table.dataTable td.child{
		font-size: 15px;
		padding: 0;
	}
	
	.dashboard-page{
		padding-left: 0;
		padding-right: 0;
	}
	.dataTables_info{
		font-size: 11px;
		margin-top: 1rem;
	}
	.dataTables_paginate .pagination,
	#dashboard-table_paginate .pagination{
		justify-content: center;
		margin-top: 2rem;
	}
	.dataTables_paginate .pagination{
		.page-link{
			font-size: 15px;
		}
	}
	table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before{
		display: none;
	}
	.dashboard__filter{
		justify-content: space-between;
		.select-block, .btn{
			width: 48%;
			font-size: 14px;
		}
	}
	.dataTables_filter,
	.dataTables_length{
		font-size: 14px;
	}
	div.dataTables_wrapper div.dataTables_length select{
		min-width: 164px;
		margin-left: 21px;
	}
	div.dataTables_wrapper div.dataTables_length,
	div.dataTables_wrapper div.dataTables_filter{
		text-align: left;
	}
	.model-avatar{
		margin-right: 0;
		margin: 0 2rem;
	}
	.models-list__slide__content{
		justify-content: space-between !important;
	}
	.model-avatar__content{
	}
	.models-list__slide .btn-group{
		visibility: visible;
		max-height: auto;
	}
	
	.models-row{
		height: calc(100% - 80px);
	}
	.alphabet-col{
		padding: 0 ;
	}
	.alphabet{
		width: 9px;
	}
	.alphabet__item{
		font-size: 8px;
		text-align: center;
	}
	.alphabet__item.active{
		font-size: 10px;
	}
	.models-list__slide .model-option{
		margin-bottom: 0;
	}
	
	.model-avatar img{
		width: 100%;
		height: 100%;
		transform: scale(.75);
		transition: transform .3s;
	}
	.model-name{
		transform: translateY(-75%) scale(.75);
		transition: transform .2s;
	}
	.models-list__slide.slick-center{
		.model-avatar img{
			transform: scale(1);
		}
		.mobile-model-data{
			margin-top: 10px;
		}
		.model-name{
			transform: translateY(0) scale(1);
			transition: all 0s, transform .2s;
		}
	}

	.models-list__slide .model-option{
		max-height: 100%;
	}
	.model-avatar{
		width: 15vh;
		height: 15vh;
	}
	.models-list__slide__content{
		padding: 0;
	}
	.models-list__slide{
		.badge{
			margin-bottom: 0;
			margin-left: 10px;
			font-size: 8px;
			width: 0;
		}
	}
	.models-list__slide.slick-center{
		.badge{
			width: auto;
		}
	}
	.models-list__slide.slick-center .model__slide__icon,
	.model__slide__icon{
		width: 15px;
		height: 15px;
	}
	.models-list.slick-slider {
		-webkit-touch-callout: auto;
		-webkit-user-select: auto;
		-khtml-user-select: auto;
		-moz-user-select: auto;
		-ms-user-select: auto;
		user-select: auto;
		-ms-touch-action: auto;
		touch-action: auto;
	}
	.models-filter{
		.fz-15{
			font-size: 13px;
		}
	}
	
}
/*767*/ 
@media(max-width: 576px){
	.dashboard__top .select-block{
		margin-left: 0;
	}
	.footer{
		min-height: auto;
	}
	.header{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	
}
/*576*/ 
@media(max-width: 480px){
	.header__options{
		padding-left: 0 !important;
		& > li{
			padding-left: 10px !important;
			padding-right: 10px !important;
		}
		svg{
			display: inline-block;
			width: 20px !important;
			height: 20px !important;
		}
		.logout-container{
			padding-right: 0 !important;
		}
	}
	.user-dropdown__add .ico svg,
	.social-block .social .ico svg{
		width: 100% !important;
		height: 100% !important;
	}
	.logout{
		width: auto;
		&::before{
			display: none;
		}
	}
	.user-avatar{
		width: 30px;
		height: 30px;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.bell .count{
		width: 20px;
		height: 20px;
		transform: translate(25%, -50%);
	}
	table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before{
		right: 10px;
	}
	.models-row{
		height: auto;
		margin: auto;
		overflow: hidden;
	}
	.model-avatar{
		width: 12vh;
		height: 12vh;
		img{
			transform: scale(.6);
		}
	}
	.models-filter{
		margin-bottom: 20px;
	}
	.select--sm{
		flex: 0 0 90px;
		max-width: 90px;
		font-size: 10px;
	}
	.model-avatar{
		align-items: flex-end !important;
	}

}
@media(max-width: 400px){
	.alphabet__item{
		font-size: 6px;
		text-align: center;
	}
	.alphabet__item.active{
		font-size: 8px;
	}
	.model-name{
		font-size: 1rem;
	}
	.nav-tabs .nav-link.active + .mobile-switcher{
		display: block;
		
		
	}
	.mobile-switcher{
		position: absolute;
		right: 15px;
		top: 50%;
		transform: translateY(-55%);
		z-index: 4;
		img{
			width: 20px;
			height: 20px;
			object-fit: contain;
			&:first-child{
				display: none;
			}
		}
		&.active{
			img{
				&:first-child{
					display: block;
				}
				&:last-child{
					display: none;
				}
			}
		}
	}
	.full-width{
		flex: 0 0 100%;
		width: 100%;
		max-width: none;
	}
	.bottom-white-gradient::after{
		height: 30px;
	}
}
@media(max-width: 360px){
	.header__options{
		padding-left: 0 !important;
		li{
			padding-left: 5px !important;
			padding-right: 5px !important;
		}
	}
	.aside__left .menu li{
		margin-bottom: 5px;
	}
	.aside-menu-container{
		margin-left: 40px;
	}
	.models-row {
		height: calc(100% - 90px);
	}
	
}

@media (max-width: 480px) and (min-height: 700px){
	.model-avatar{
		width: 18vh;
		height: 18vh;
	}
	.alphabet__item{
		font-size: 8px;
	}
	.alphabet__item.active{
		font-size: 10px;
	}
}