

@media(min-width: 2400px){
	.gallery li{
		width: 20%;
	}
	.models-slider__nav__item{
		height: 20em;
	}
}
@media(min-width: 3000px){
	.gallery li{
		width: 16.666%;
	}
}

@media(min-height: 1401px) {
	.tab-list{
		top: 33%;
	}
}

@media(min-height: 1100px) and (max-height: 1400px){
	.tab-list{
		top: 23%;
	}
}
 
@media(max-width: 1600px){

	.select-wrapper span{
		font-size: 11px;
		margin-right: 10px;
	}
	.select{
		width: 150px;
		height: 30px;
		font-size: 11px;
	}
	.filter-toggle{
		padding-left: 20px;
		padding-right: 20px;
	}
	.filter__search__btn label{
		height: 30px;
		width: 70px;
		font-size: 11px;
	}
	.filter__search{
		width: 220px;
	}
	.input{
		height: 30px;
		font-size: 12px;
		padding-right: 40px;
		padding-left: 10px;
	}
	.search-submit{
		height: 30px;
		width: 40px;
	}
	.search-submit .search-ico{
		width: 15px;
		height: 15px;
	}
	.filter-open .gallery-block__line{
		bottom: 80px;
	}
	.filter-line.active{
		padding: 20px 0 0 20px;
	}

	.nav{
		padding-left: 10px;
	}
	.theme-page{
		padding-left: 3.125rem;
		padding-right: 3.125rem;
		padding-bottom: 5rem;
	}
	.theme-slider .slick-list{
		padding-top: 3rem;
	}

	.theme__bottom{
		height: 5rem;
	}
	.tab-list{
		top: 20%;
	}
	.tab-list::after{
		width: 11.25rem;
	}
	.theme__title{
		font-size: 6rem;
	}
	.theme__subtitle{
		font-size: 1.4rem;
		letter-spacing: 2px;
	}
	.total-counter{
		margin-bottom: 1.5rem;
	}

	
	::-webkit-input-placeholder {font-size: 11px;  }
::-moz-placeholder          {font-size: 11px;  } /* Firefox 19+ */
:-moz-placeholder           {font-size: 11px;  } /* Firefox 18- */
:-ms-input-placeholder      {font-size: 11px;  }
	
	.aside__left{
		padding-left: 35px;
		width: 290px;
	}
	.management__content{
		width: calc(100% - 370px)
	}
	.add-new{
		margin-bottom: 50px;
		padding: 0 25px;
	}

	.management-page__bottom .filter-line.active, 
	.management-page__bottom .filter-line{
		padding: 20px 0 20px 25px;
	}
	.aside__menu{
		margin-bottom: 20px;
	}
	.aside__menu > li{
		margin-bottom: 10px;
	}

}

/*1600*/ 

@media(max-width: 1440px){
	html{
		font-size: 14px;
	}
}
@media(max-width: 1360px){
	body{
		height: 100%;
	}
	.wrapper{
		height: 100%;
		overflow-x: hidden;
	}
	.header{
		.navbar{
			margin-left: 0 !important;
			padding-left: 0 !important;
		}
	}
	.user__text{
		display: none;
	}
	.header{
		// padding-left: 0 !important;
		// padding-right: 0 !important;
		.logo{
			margin-right: 0;
			width: 60px;
		}
	}
	.dashboard-table__item{
		width: auto;
		flex-grow: initial
	}

}
@media(max-width: 1240px){
	.aside__left{
		padding-top: 40px;
		position: fixed;
		left: 0;
		top: 70px;
		height: calc(100% - 90px);
		overflow-y: auto;
		overflow-x: hidden;
		transform: translateX(-100%);
		visibility: hidden;
		z-index: 20;
		transition: all .3s;
		&.active{
			transform: translateX(0);
			visibility: visible;
		}
	}
	.aside__left .slick-track,
	.aside__left .aside__menu .slick-list{
		height: auto !important;
	}
	.aside__left .aside__menu{
		margin-top: 40px;
	}
	.submenu-block .submenu{
		left: auto;
		right: 100%;
		&::after{
			left: 100%;
			transform: translateX(0);
			border-right-color: transparent;
			border-left: 7px solid #fff;
		}
	}
}

@media(max-width: 767px){
	.user-dropdown{
		width: 250px;
		right: auto;
		left: 50%;
		transform: translateX(-50%);
		padding: 10px;
		&::before{
			right: 50%;
			transform: translateX(50%);
		}
	}
	.user-logo{
		width: 20px;
		height: 20px;
	}
	.user-title{
		padding-left: 0;
		font-size: 12px;
		width: 65%;
		flex-grow: 0;
		.lg{
			font-size: 13px;
		}
	}
	.user-ico{
		padding: 0;
		margin-left: 5px;
	}
	.user-title .grey{
		letter-spacing: inherit;
	}
	.user-dropdown__add{
		justify-content: flex-start;
	}
	.settings-dropdown{
		width: 250px;
		background-size: 40px;
	}
	.settings-dropdown .user-dropdown__item{
		padding: 10px;
	}
	.settings-dropdown__right{
		width: 40%;
	}
	.settings-dropdown__left{
		width: 60%;
		padding-right: 10px;
	}
}
/*767*/ 
@media(max-width: 480px){
	.header__options{
		padding-left: 0 !important;
		& > li{
			padding-left: 10px !important;
			padding-right: 10px !important;
		}
		svg{
			display: inline-block;
			width: 20px !important;
			height: 20px !important;
		}
		.logout-container{
			padding-right: 0 !important;
		}
	}
	.user-dropdown__add .ico svg,
	.social-block .social .ico svg{
		width: 100% !important;
		height: 100% !important;
	}
	.logout{
		width: auto;
		&::before{
			display: none;
		}
	}
	.user-avatar{
		width: 30px;
		height: 30px;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.bell .count{
		width: 15px;
		height: 15px;
		transform: translate(25%, -50%);
	}

}
@media(max-width: 576px){
	.dashboard__top .select-block{
		margin-left: 0;
	}
	.footer{
		min-height: auto;
	}
}
@media(max-width: 350px){
	.header__options{
		padding-left: 0 !important;
		li{
			padding-left: 5px !important;
			padding-right: 5px !important;
		}
	}
}